[mysqld]
# 文字コードを utf8mb4 にする
character-set-server=utf8mb4

# バイナリログを取得する
log-bin=mysql-bin
max_binlog_size=256M
expire_logs_days=7

# スロークエリログを取得する
slow_query_log=1

[client]
# 文字コードを utf8mb4 にする
default-character-set=utf8mb4